{% extends "base.html.twig" %}

{% block title %}Liste des contacts - AddressBook{% endblock %}

{% block body %}
<h2>Liste des contacts</h2>

    <table class="table">
        <tbody>
            {% for contact in contacts %}
            <tr>
                <td>{{ contact.prenom }} {{ contact.nom }}</td>
                <td>
                    <a href="{{ path('app_contact_show', {id: contact.id}) }}" class="btn btn-xs btn-primary">Afficher</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
